<ion-header>
  <ion-toolbar>
    <ion-title>logReg</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img style="z-index: -100" src="../../assets/images/login-banner-revised-l1-1631021843.jpeg" alt="login_welcome"></ion-img>
    <div class="logBox">
      <p class="login-text">Join your fashion family partner</p>
      <!-- <div style="display: flex; justify-content: center; margin: 50%;"> -->
        <form>
          <ion-input class="_ininput" placeholder="Enter Mobile Number" maxlength="10" type="tel"></ion-input>
          <ion-button type="submit" class="loginSubmit">Continue</ion-button>
        </form>
          <ion-button color="primary" expand="full" routerLink="login">continue with email</ion-button>
          <ion-button color="primary" expand="full" routerLink="register">Register</ion-button>

      <!-- </div> -->
    </div>
</ion-content>