<ion-header >
  <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
          <div style="display: flex; justify-content: right; margin: 20px;">
            <ion-icon name="search" style="margin: 5px;"></ion-icon>
            <ion-icon name="heart" style="margin: 5px;"></ion-icon>
            <ion-icon name="cart" style="margin: 5px;"></ion-icon>
          </div>
</ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides  [options]="{ slidesPerView: true, loop: true }" class="ion-margin-top">
      <ion-slide style="display: flex;">
        <img src="../../assets/images/sale-1.jpg" alt="">
      </ion-slide>
      <ion-slide style="display: flex;">
        <img src="../../assets/images/sale-1.jpg" alt="">
      </ion-slide>
      <ion-slide style="display: flex;">
        <img src="../../assets/images/sale-1.jpg" alt="">
      </ion-slide>
    </ion-slides>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../assets/images/sale-1.jpg" alt="">
        </ion-col>
        <ion-col>
          <img src="../../assets/images/sale-1.jpg" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="../../assets/images/sale-1.jpg" alt="">
        </ion-col>
        <ion-col>
          <img src="../../assets/images/sale-1.jpg" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="../../assets/images/sale-1.jpg" alt="">
        </ion-col>
        <ion-col>
          <img src="../../assets/images/sale-1.jpg" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="../../assets/images/sale-1.jpg" alt="">
        </ion-col>
        <ion-col>
          <img src="../../assets/images/sale-1.jpg" alt="">
        </ion-col>
      </ion-row>
    </ion-grid>
   
</ion-content>

<!-- <ion-footer>
    <div style=" display: flex;flex-direction: row;position: sticky; background-color: #fdd835;">
    <ion-tab-button tab="schedule">
      <img src="../../assets/images/shapes.svg" alt="">
      <ion-label>Home</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <img src="../../assets/images/ic-web-tab-category-selected-v1.svg">
      <ion-label>Categories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explore">
      <img src="../../assets/images/ic-web-tab-explore-default-v1.svg">
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
    </div>
  </ion-tab-bar>
</ion-footer> -->
